.c-image{
    background-color: red;
    background-image: url('/public/img/iphone-slider.png');
    background-size: cover;
    background-position: center;
}

// transition-duration: 0ms;
// transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1);
// z-index: 1;